<header>
    <div class="name">Dos</div>
    <div class="close">x</div>
</header>

<h2 class="first">
    Dos
</h2>

<div class="parts">
    {% for id in [['Sans plis','0'],['Pli central','1'],['Chevrons', 'avec']] %}
        <div class="part" data-category="back" data-id="{{ id[1] }}"  data-label="{{ id[0] }}" class="{{ (loop.index==0) ? 'active' : '' }}">
            <div class="img">
                <img src="/img/pictos/dos_{{id[1]}}.svg" width="85">
            </div>
            <div class="name">{{ id[0] }}</div>
        </div>
    {% endfor %}
</div>

<h2 class="first">
    Pinces
</h2>

<div class="parts">
    {% for id in [['Avec','P'],['Sans','0']] %}
        <div class="part" data-category="throat" data-id="{{ id[1] }}"  data-label="{{ id[0] }}" class="{{ (loop.index==0) ? 'active' : '' }}">
            <div class="img">
                <img src="/img/pictos/dos_pinces_{{id[1]}}.svg" width="85">
            </div>
            <div class="name">{{ id[0] }}</div>
        </div>
    {% endfor %}
</div>