<header>
    <div class="name">Poches</div>
    <div class="close">x</div>
</header>

<h2 class="first">
    Poches
</h2>

<div class="parts">
    {% for id in [['Aucune poche','0'],['Ronde','1'],['Carrée','1C'],['Rabat','1G'],['Soufflet','1PS'],['Aviateur','1SR'],['Rondes (x2)','2'],['Carrées (x2)','2C'],['Rabats (x2)','2G'],['Soufflets (x2)','2PS'],['Aviateurs (x2)','2SR']] %}
        <div class="part {{ (loop.index0 == 0)?'active':'' }}" data-category="pockets" data-id="{{ id[1] }}"  data-label="{{ id[0] }}">
            <div class="img">
                <img src="/img/pictos/poche_{{id[1]}}.svg" width="85">
            </div>
            <div class="name">{{ id[0] }}</div>
        </div>
    {% endfor %}
</div>

<h2 class="first">
    Épaulettes
</h2>

<div class="parts">
    {% for id in [['Sans','sans'],['Avec (+ 6€)','avec']] %}
        <div  class="part {{ (loop.index0 == 0) ? 'active' : '' }}" data-category="epaulettes" data-id="{{ id[1] }}"  data-label="{{ id[0] }}" >
            <div class="img">
                <img src="/img/pictos/epaulettes_{{id[1]}}.svg" width="85">
            </div>
            <div class="name">{{ id[0] }}</div>
        </div>
    {% endfor %}
</div>